<launch>
  <rosparam command="load" file="$(find situation_assessment_parameters)/situation_assessment_config.yaml" />
  <rosparam command="load" file="$(find common_parameters)/common_config.yaml" />
  <include file="$(find spencer_symbolic_map)/launch/spencer_symbolic_map.launch" />
  <node name="spencer_bridge" pkg="spencer_bridge" type="spencer_bridge"  />
  <node name="tf_bridge" pkg="tf_bridge" type="tf_bridge" />
  <node name="simple_agent_monitor" pkg="simple_agent_monitor" type="simple_agent_monitor"  />
  <node name="simple_database" pkg="simple_database" type="simple_database"  />
  <node name="spencer_human_estimation" pkg="spencer_human_estimation" type="spencer_human_estimation" />



</launch>